/* Reseteo */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
//IMPORTS
@import "./partials/variables";
@import "./partials/footer";
@import "./partials/nosotros";
@import "./partials/index";
@import "./partials/nav";
@import "./partials/tienda";
