.bg-lav {
  background-color: var(--lav-light);
}

.btn-lav {
  color: $fondofooter;
  background-color: var(--lav);
  border-color: var(--lav);
  display: flex;
  justify-content: center;
}

.btn-lav:hover {
  color: #fff;
  background-color: $fondofooter;
  border-color: #020202;
  transform: scale(0.9);
}
// MIXIN Destacados
@mixin destacados {
  font-family: $fontppal;
  border-top: 0.1rem;
  font-weight: bold;
}
.H1Destacados {
  @include destacados();
}
// MIXIN Contacto
@mixin contactomx {
  background-color: $fondocontacto;
  font-family: $fontppal;
  text-align: justify;
}
.contacto {
  @include contactomx();
  h2 {
    border-top: 0.1rem;
    font-weight: bold;
  }
}
// MIXIN Frecuentes
@mixin preguntas {
  font-family: $fontppal;
  border-top: 0.1rem;
  font-weight: bold;
}
.H2Frecuentes {
  @include preguntas();
}
// WHATSAPP STIKY
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}
// REDES NAV //
.redesNav {
  .bi-facebook {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(29, 28, 28);
  }
  .bi-facebook:hover {
    color: #3b5998;
  }
  .bi-whatsapp {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(29, 28, 28);
  }
  .bi-whatsapp:hover {
    color: #25d366;
  }
  .bi-instagram {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(29, 28, 28);
  }
  .bi-instagram:hover {
    color: #8a3ab9;
  }
}
