//MIXIN NAVYLOGO//
@mixin navlog {
  color: black;
  font-weight: lighter;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
}
#navmio {
  background-color: $fondonavv;
  a {
    @include navlog;
  }
}
