/* Variables*/

//COLORES
$grisfondo: #adacac;
$negrofondo: #080808;
$colorp: #9c80b8;
$fondofooter: #112437;
$fondonavv: #e1f7fc;
$fondocontacto: #0989af;

//TIPOGRAFIA
$fontppal: raleway;
$colorfuente: #020202;
$tamañop: 2px;
$spacing: 0.7rem;
$spacingp: 0.1rem;
